<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.TimechoBlockMapper">
  <resultMap id="BaseResultMap" type="entity.TimechoBlock">
    <id column="bid" jdbcType="INTEGER" property="bid" />
    <result column="bowner" jdbcType="TINYINT" property="bowner" />
    <result column="bdescription" jdbcType="VARCHAR" property="bdescription" />
    <result column="bname" jdbcType="VARCHAR" property="bname" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    bid, bowner, bdescription, bname
  </sql>
  <select id="selectByExample" parameterType="entity.TimechoBlockExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from timecho_block
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from timecho_block
    where bid = #{bid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from timecho_block
    where bid = #{bid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="entity.TimechoBlockExample">
    delete from timecho_block
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="entity.TimechoBlock">
    insert into timecho_block (bid, bowner, bdescription, 
      bname)
    values (#{bid,jdbcType=INTEGER}, #{bowner,jdbcType=TINYINT}, #{bdescription,jdbcType=VARCHAR}, 
      #{bname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="entity.TimechoBlock">
    insert into timecho_block
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bid != null">
        bid,
      </if>
      <if test="bowner != null">
        bowner,
      </if>
      <if test="bdescription != null">
        bdescription,
      </if>
      <if test="bname != null">
        bname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bid != null">
        #{bid,jdbcType=INTEGER},
      </if>
      <if test="bowner != null">
        #{bowner,jdbcType=TINYINT},
      </if>
      <if test="bdescription != null">
        #{bdescription,jdbcType=VARCHAR},
      </if>
      <if test="bname != null">
        #{bname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="entity.TimechoBlockExample" resultType="java.lang.Long">
    select count(*) from timecho_block
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update timecho_block
    <set>
      <if test="record.bid != null">
        bid = #{record.bid,jdbcType=INTEGER},
      </if>
      <if test="record.bowner != null">
        bowner = #{record.bowner,jdbcType=TINYINT},
      </if>
      <if test="record.bdescription != null">
        bdescription = #{record.bdescription,jdbcType=VARCHAR},
      </if>
      <if test="record.bname != null">
        bname = #{record.bname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update timecho_block
    set bid = #{record.bid,jdbcType=INTEGER},
      bowner = #{record.bowner,jdbcType=TINYINT},
      bdescription = #{record.bdescription,jdbcType=VARCHAR},
      bname = #{record.bname,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="entity.TimechoBlock">
    update timecho_block
    <set>
      <if test="bowner != null">
        bowner = #{bowner,jdbcType=TINYINT},
      </if>
      <if test="bdescription != null">
        bdescription = #{bdescription,jdbcType=VARCHAR},
      </if>
      <if test="bname != null">
        bname = #{bname,jdbcType=VARCHAR},
      </if>
    </set>
    where bid = #{bid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.TimechoBlock">
    update timecho_block
    set bowner = #{bowner,jdbcType=TINYINT},
      bdescription = #{bdescription,jdbcType=VARCHAR},
      bname = #{bname,jdbcType=VARCHAR}
    where bid = #{bid,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="entity.TimechoBlockExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from timecho_block
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>